div.container-todos {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  div.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      align-items: center;
      column-gap: 8px;

      label {
        font-size: 11px;
        font-weight: bold;
      }

      select {
        font-size: 8px;
        padding: 3px;
        background-color: #fff;
        border: 1px solid #cfcfcf;
        border-radius: 2px;
        color: rgba(14, 13, 13, 0.733);
      }
    }
  }

  div.contents {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  button.cleaner {
    margin-left: auto;
    font-size: 11px;
  }
}
